/* ===== ANALYTICS IMAGES ===== */
.analysis-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.analysis-img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
